.head_box{
    font-size:larger;
    font-style: oblique;
    text-decoration-color: white;
}
body{
    background-image: url("123.avif");
    background-repeat: no-repeat;
    background-size: 100%; 
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}

   
    
    
    .faqs{
        width: 450px;
        margin:  auto;
        background: #fff;
        border-radius: 7px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .faqs .heading{
        background: #7800cf;
        border-radius: 7px 7px 0px 0px;
        padding: 10px;
        color: #fff;
        text-align: center;
        font-family: "Rubik";
    }
    .frequently-asked-questions{
        padding: 10px 20px;
    }
    details{
        background: #f6f6f6;
        padding: 10px;
    }