 .head_box{
    font-size:larger;
    font-style: oblique;
    text-decoration-color: white;
}
body{
    background-image: url("123.avif");
    background-repeat: no-repeat;
    background-size: 100%; 
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}

    h1{
        font-size: 33px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        color: rgb(80, 199, 1);
    }
     .hero-btn2{
         display: inline-block;
         text-decoration: none;
         color: white;
         border: 1px solid c;
         padding: 6px 24px;
         font-size: 17px;
         margin-top: 10px;
         background: transparent;
         position: relative;
         cursor: pointer;    
         border-radius: 17px;     
     }
     .hero-btn2:hover{
         border: 1px soild red;
         background: darkblue;
         transition: 0.5s;
     }
     .feedback{
         width: 500px;
         top: 25%;
         left: 34%;
         position: absolute; 
          
     }
     
     .input-field{
         width: 100%;
         height: 40px;
         margin-top: 20px;
         padding-left: 10px;
         padding-right: 70px;
         border: 1.9px solid rgb(81, 10, 248);
         border-radius: 14px;
         outline: none;
         margin-right: 0px;
         align-items: center; 
         background: transparent;
         
     }
     .textarea-field{
         height: 150px;
         padding-top: 10px;
         margin-right: 105px;
         background: transparent;
         
     }
  